<section class="container">
  <div class="max-width conteudo">
    <div class="texto">
      <h1>Engenharia Social</h1>
      <p>A engenharia social é a arte de <strong>manipular psicologicamente</strong> pessoas para extrair dados confidenciais ou acesso a
        sistemas. Em vez de explorar falhas de software, o atacante <strong>explora a confiança humana</strong>, o medo ou a curiosidade.
        É
        o "hacking" do comportamento, tornando o usuário o elo mais frágil da segurança.
      </p>
      <button class="button btn-outlined-secondary">saiba mais</button>
    </div>
    <img ngSrc="images/engenharia-social.png" width="550" height="270" />
  </div>
</section>