<section>
  <div class="titulo">
    <h3>Simulador de Golpes</h3>
    <h1>Aprenda a se <u><strong>proteger</strong></u></h1>
  </div>
  <div class="questoes">
    <p>Questão <strong>1 / 10</strong></p>
  </div>
  <div class="questao">
    <p>
       Você recebe uma mensagem de um número desconhecido. A pessoa usa a foto do seu filho e diz: "Oi pai/mãe, meu celular quebrou e estou usando este número provisório. Pode me transferir R$ 800 para pagar o conserto? Amanhã eu te devolvo.
    </p>
  </div>
  <div class="acoes-resposta">
    <button>SEGURO</button>
    <button>GOLPE</button>
  </div>
  <div class="navegacao">
   <a href="">Anterior</a>
   <a href="">Próximo</a>
  </div>
</section>